body{
    background: #242424;
    color: white;

}

nav{
    background-color: black;
    overflow: auto;
}
nav a{
    float: left;
    padding: 1em 2em;
    text-align: center;
    color: white;
    
}
nav a:hover{
    background-color: #0c163f;
}

.main{
    align-content: center;
}
.content{
    background: #1a2551;
    margin: 0% 10%;
    padding: 20px;
}
h1{
    text-align: left;
    padding: 25px 25px;
}

.icon{
    float: right;
    padding: 1em 1em;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
}
select{
    margin-top: 10px;
    margin-bottom: 10px;
}
label{
    margin: 10px;
}
textarea{
    margin-top: 3ch;
}
#addd{
    float: left;
    margin-top: 4ch;
}
#clear{
    margin-left: 3ch;
    margin-top: 5ch;
}
